<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name></display-name>
    <description>Sportlink</description>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>TipiServlet</servlet-name>
        <servlet-class>com.dexels.navajo.tipi.components.echoimpl.TipiServlet</servlet-class>
        <init-param>
            <param-name>tipidef</param-name>
            <param-value>init.xml</param-value>
        </init-param>

   </servlet>
    <servlet-mapping>
        <servlet-name>TipiServlet</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

   <servlet>
        <servlet-name>TipiLogoutServlet</servlet-name>
        <servlet-class>com.dexels.navajo.tipi.components.echoimpl.TipiLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipiLogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
