<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Navajo Target Platform: 3.3.770" sequenceNumber="3570">
    <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <repository location="https://p2.dexels.com/eclipse/equinox_4.16/"/>
            <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.server.core.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.server.p2.feature.group" version="0.0.0"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <repository location="https://p2.dexels.com/eclipse/3rdparty_3.3.770"/>
            <unit id="dexels-navajo-target.feature.group" version="3.3.770" />
        </location>
    </locations>
</target>
