bin/
classes/
core/com.dexels.navajo.core/sharedstore/
distribution/
dist/
server/com.dexels.navajo.integration/navajo/logs/
target/
testbin/
testclasses/
work/
.DS_Store
.cache-main
.tmpBin/
*.jar
*.war
