<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="Spiritus">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.6.2.r362_v20101117-0800-7z8XFW6FLFlmjJcvz03jyeFBLS_F"/>
<repository location="http://spiritus.dexels.nl:41766/eclipse/jdt"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.birt.feature.group" version="2.6.2.r262_v20101008-9iF7A9JGHMBCRz-R8tbxRel8kQrI"/>
<repository location="http://spiritus.dexels.nl:41766/eclipse/birt"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="3.6.2.r362_v20110210-9gF78Gs1FrIGnHDHWkEcopoN8AmxeZflGDGKQi"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.2.r362_v20101104-9SAxFMKFkSAqi8axkv1ZjegmiBLY"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.0.1.r361_v20100903-897HFa-FX0z-z-ntoaavz0JPX628"/>
<repository location="http://spiritus.dexels.nl:41766/eclipse/platform"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="ch.qos.logback.classic" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.core" version="0.9.27.v20110224-1110"/>
<unit id="ch.qos.logback.slf4j" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.ext" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jul" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.jcl" version="1.6.1.v20100831-0715"/>
<unit id="org.slf4j.log4j" version="1.6.1.v20100831-0715"/>
<repository location="http://spiritus.dexels.nl:41766/eclipse/orbit"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="1.0.2.v201102151014"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="1.0.2.v201102150556"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.0.2.v201102150556"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
