<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Navajo Server"
            id="com.dexels.navajo.server.embedded">
      </category>
      <view
            name="Control Panel"
            icon="icons/sample.gif"
            category="com.dexels.navajo.server.embedded"
            class="com.dexels.navajo.server.embedded.views.ServerControlPanel"
            id="com.dexels.navajo.server.embedded.views.ServerControlPanel">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.dexels.navajo.server.embedded.views.ServerControlPanel">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
