<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin id="com.dexels.plugin" name="NavajoScriptPlugin Plug-in" version="0.75.0"
   provider-name="dexels" class="com.dexels.navajo.studio.script.plugin.NavajoScriptPluginPlugin">
   <runtime>
      <library name="lib/NavajoClient.jar">
         <export name="*"/>
      </library>
      <library name="lib/NanoImpl.jar">
         <export name="*"/> 
      </library>
      <library name="lib/NavajoScriptPlugin.jar">
         <export name="*"/>
      </library>
      <library name="lib/Navajo.jar">
         <export name="*"/>
      </library>
      <library name="lib/NavajoFunctions.jar">
         <export name="*"/>
      </library>
      <library name="lib/metadata.jar">
         <export name="*"/>
      </library>
<!--
      <library name="lib/jaxpimpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xmlParserAPIs.jar">
         <export name="*"/>
      </library>
-->
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>
    
  <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Navajo"
            id="NavajoStudioPlugin">
      </category>
      <wizard
            name="New blank script wizard"
            icon="icons/dexels_newscript.gif"
            category="NavajoStudioPlugin"
            class="com.dexels.navajo.studio.script.plugin.wizards.NewScriptWizard"
            id="com.dexels.navajo.studio.script.plugin.wizards.NewScriptWizard">
       <description>Create a new, empty, Navajo script.</description>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <category name="Navajo Script Category" id="com.dexels.plugin.views"/>

      <view name="Adapter viewer" icon="icons/dexels_adapter.gif" category="com.dexels.plugin.views"
         class="com.dexels.navajo.studio.script.plugin.views.AdapterViewer"
         id="com.dexels.AdapterViewer"/>
      <view name="Function viewer" icon="icons/dexels_function.gif" category="com.dexels.plugin.views"
         class="com.dexels.navajo.studio.script.plugin.views.FunctionViewer"
         id="com.dexels.FunctionViewer"/>
      <view name="TML viewer" icon="icons/dexels_function.gif" category="com.dexels.plugin.views"
         class="com.dexels.navajo.studio.script.plugin.views.TmlViewer"
         id="com.dexels.TmlViewer"/>
      <view name="TML browser" icon="icons/dexels_function.gif" category="com.dexels.plugin.views"
         class="com.dexels.navajo.studio.script.plugin.views.TmlBrowser"
         id="com.dexels.TmlBrowser"/>
     <view name="Tsl Metadata" icon="icons/dexels.gif" category="com.dexels.plugin.views"
         class="com.dexels.navajo.studio.script.plugin.views.MetaDataViewer"
         id="com.dexels.MetaDataViewer"/>
   </extension>
   
 
   <extension id="NavajoScriptBuilder" name="TSL Builder"
      point="org.eclipse.core.resources.builders">
      <builder hasNature="false">
         <run class="com.dexels.navajo.studio.eclipse.NavajoBuilder"/>
      </builder>
   </extension>
   <extension id="NavajoNature" name="Navajo Nature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.dexels.navajo.studio.eclipse.NavajoNature"/>
      </runtime>
      <builder id="NavajoScriptBuilder"/>
   </extension>   
   
    <extension id="actionAap" point="org.eclipse.ui.actionSets">
      <actionSet label="Navajo script" visible="true" id="com.dexels.ActionSet">
         <menu label="Navajo script" id="sampleMenu">
            <separator name="sampleGroup"/>
         </menu>
         
         
         
       <action label="Start socketRunner" icon="icons/dexels_start.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.StartSocketRunner"
            tooltip="Start socketRunner" menubarPath="sampleMenu/sampleGroup"
            toolbarPath="sampleGroup" id="StartSocketRunner"/>
            
            
            
            
      <!--       <action label="&amp;Run with Clipboard TML" icon="icons/dexels_start.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.NavajoAction"
            tooltip="Run with Clipboard TML" menubarPath="sampleMenu/sampleGroup"
            toolbarPath="sampleGroup" id="com.dexels.NavajoAction"/>
    <action label="&amp;Find TML" icon="icons/dexels_searchtml.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.FindTml"
            tooltip="Find tml file" menubarPath="sampleMenu/sampleGroup"
            toolbarPath="sampleGroup" id="com.dexels.FindScript"/>
        <action label="&amp;Find script" icon="icons/dexels_searchxml.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.FindScript"
            tooltip="Find script file" menubarPath="sampleMenu/sampleGroup"
            toolbarPath="sampleGroup" id="com.dexels.FindTml"/>
        <action label="&amp;Find java source" icon="icons/dexels_searchjava.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.FindJavaSource"
            tooltip="Find java source" menubarPath="sampleMenu/sampleGroup"
            toolbarPath="sampleGroup" id="com.dexels.FindJavaSource"/>-->

      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="Navajo Browser Preferences"
         class="com.dexels.navajo.studio.script.plugin.navajobrowser.preferences.NavajoPreferencePage"
         id="com.dexels.NavajoPreferencePage"/>
      <page name="Navajo socket preferences"
         class="com.dexels.navajo.studio.script.plugin.navajobrowser.preferences.NavajoSocketPreferencePage"
         id="com.dexels.NavajoSocketPreferencePage"/>
         
   </extension>
  <!--   <extension point="org.eclipse.ui.editors">
      <editor name="TML Editor" icon="icons/dexels_tml.gif" extensions="tml"
         contributorClass="com.dexels.navajo.studio.script.plugin.editors.MultiPageContributor"
         class="com.dexels.navajo.studio.script.plugin.editors.TmlEditor"
         id="com.dexels.TmlEditor"/>
     <editor
            class="com.dexels.navajo.studio.plugin.editors.TipiEditor"
            icon="icons/dexels_tipi.gif"
            default="true"
            contributorClass="com.dexels.navajo.studio.plugin.editors.TipiEditorContributor"
            name="Tipi Editor"
            id="com.dexels.navajo.studio.plugin.editors.TipiEditor"
            extensions="tipi"/>
   </extension>
  -->
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            icon="icons/dexels.gif"
            class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPropertyPage"
            name="Navajo"
            id="com.dexels.plugin.NavajoStudioPropertyPage">
         <filter name="nature" value="com.dexels.plugin.NavajoNature"/>
        </page>
     <!-- <page objectClass="org.eclipse.core.resources.IProject" icon="icons/sample.gif" name="Navajo propeties"
            id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPropertyPage" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPropertyPage">
          <filter name="nature" value="com.dexels.plugin.NavajoNature"/>
      </page>
      <page objectClass="org.eclipse.core.resources.IProject" icon="icons/dexels_fill.gif" name="Navajo Server"
            id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioServerConfig" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioServerConfig">
          <filter name="nature" value="com.dexels.plugin.NavajoNature"/>
      </page>
      <page objectClass="org.eclipse.core.resources.IProject" icon="icons/dexels_fill.gif" name="Navajo SQLMap"
            id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioSqlConfig" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioSqlConfig">
           <filter name="nature" value="com.dexels.plugin.NavajoNature"/>
      </page>
     <page objectClass="org.eclipse.core.resources.IProject" icon="icons/dexels_fill.gif" name="Navajo Persistence"
            id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPersistenceConfig" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPersistenceConfig">
           <filter name="nature" value="com.dexels.plugin.NavajoNature"/>
      </page>-->
   </extension>
<!--
  <extension point="org.eclipse.ui.propertyPages">
      <page objectClass="org.eclipse.core.resources.IFile" icon="icons/sample.gif" name="Studio propeties"
            nameFilter="*.*"  id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPropertyPage" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioPropertyPage"/>
      <page objectClass="org.eclipse.core.resources.IFile" icon="icons/sample.gif" name="Studio propeties"
            nameFilter="*.*"  id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioServerConfig" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioServerConfig"/>
      <page objectClass="org.eclipse.core.resources.IFile" icon="icons/sample.gif" name="Studio propeties"
            nameFilter="*.*"  id="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioSqlConfig" class="com.dexels.navajo.studio.script.plugin.propertypages.NavajoStudioSqlConfig"/>
   </extension>-->
    <extension point="org.eclipse.ui.decorators"> 
        <decorator
            id="com.dexels.plugin.tmldecorator" 
            label="TML Decorator" 
            state="false" 
            lightweight="true" 
            icon="icons/tml_decorator.gif" 
            location="TOP_LEFT"> 
            <enablement>
                <objectClass name="org.eclipse.core.resources.IResource"/> 
            </enablement>
        </decorator>
    </extension>
 <extension point="org.eclipse.ui.decorators"> 
    </extension>     
<extension point="org.eclipse.ui.decorators"> 
        <decorator id="com.dexels.plugin.initdecorator"  location="TOP_LEFT" label="Init script Decorator" state="true" icon="icons/script_is_init2.gif">
            <enablement>
                <and>
                <objectClass name="org.eclipse.core.resources.IFile"/> 
                <objectState name="name" value="*.xml"/> 
                <objectState name="name" value="Init*"/> 
				</and>
            </enablement>
        </decorator>
    </extension>     
<extension point="org.eclipse.ui.decorators"> 
        <decorator id="com.dexels.plugin.navajoprojectdecorator" location="TOP_LEFT"  label="Dexels" state="true" icon="icons/dexels_small.gif">
            <enablement>
                <and>
                <objectClass name="org.eclipse.core.resources.IProject"/> 
                 <objectState name="projectNature" value="com.dexels.plugin.NavajoNature"/> 
				</and>
            </enablement>
        </decorator>
    </extension>     

<extension point="org.eclipse.ui.popupMenus">
   <objectContribution adaptable="true" objectClass="org.eclipse.core.resources.IProject" id="com.dexels.plugin.popupMenu">
      <filter name="projectNature"
            value="com.dexels.plugin.NavajoNature">
      </filter>
      
        <action label="Remove navajo nature" icon="icons/remove_dexels_nature.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.RemoveNavajoNatureAction"
            tooltip="Remove navajo nature" id="com.dexels.RemoveNavajoNatureAction"/>
      
   </objectContribution>
</extension>
<extension point="org.eclipse.ui.popupMenus">
   <objectContribution adaptable="true" objectClass="org.eclipse.core.resources.IProject" id="com.dexels.plugin.popupMenuAdd">
      <filter name="projectNature"
            value="org.eclipse.jdt.core.javanature">
      </filter>
      
        <action label="Add navajo nature" icon="icons/dexels_nature.gif"
            class="com.dexels.navajo.studio.script.plugin.actions.NavajoNatureAction"
            tooltip="Add navajo nature" id="com.dexels.NavajoNatureAction"/>
      
   </objectContribution>
</extension>
<!-- Don't know why this does not work -->
<extension point="org.eclipse.ui.ide.projectNatureImages">
        <image id="com.dexels.plugin.navajoNatureImage" natureId="com.dexels.plugin.NavajoNature" icon="icons/dexels_small.gif"/>
 </extension>
 
 <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xml"
            id="com.dexels.plugin.contributionpopupXml">

         <action label="Run remote.." icon="icons/start.gif"  tooltip="Run remote script" 
               class="com.dexels.navajo.studio.script.plugin.actions.NavajoRemoteAction"
               id="com.dexels.plugin.newAction"/>
         <action label="Run local.." icon="icons/start.gif"  tooltip="Run local script" 
               class="com.dexels.navajo.studio.script.plugin.actions.NavajoAction"
               id="com.dexels.plugin.remoteAction"/>
         <action label="Show java.." icon="icons/dexels_searchjava.gif"  tooltip="Shows the java file of this script, if it exists" 
               class="com.dexels.navajo.studio.script.plugin.actions.FindJavaSource"
               id="com.dexels.plugin.showJava"/>
        <action label="Recompile script.." icon="icons/dexels_recompile.gif"  tooltip="Recompiles this script." 
               class="com.dexels.navajo.studio.script.plugin.actions.RecompileAction"
               id="com.dexels.plugin.recompile"/>
         <action label="Show latest tml.." icon="icons/dexels_searchtml.gif"  tooltip="Shows the latest TML file of this script, if it exists" 
               class="com.dexels.navajo.studio.script.plugin.actions.ShowTml"
               id="com.dexels.plugin.showTml"/>
         <action label="Edit latest tml.." icon="icons/dexels_searchtml.gif"  tooltip="Edits the latest TML file of this script, if it exists" 
               class="com.dexels.navajo.studio.script.plugin.actions.FindTml"
               id="com.dexels.plugin.editTml"/>
       <action label="Show Metadata.." icon="icons/dexels.gif"  tooltip="Shows metadata of this script" 
               class="com.dexels.navajo.studio.script.plugin.actions.ScriptMetaData"
               id="com.dexels.plugin.scriptMetaData"/>
      </objectContribution>
     <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            id="com.dexels.plugin.contributionpopupFolder">
       <action label="Recompile folder.." icon="icons/dexels_recompile.gif"  tooltip="Recompiles the scripts in this folder" 
               class="com.dexels.navajo.studio.script.plugin.actions.RecompileAction"
               id="com.dexels.plugin.recompile"/>

       </objectContribution>
    </extension>
 <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.tml"
            id="com.dexels.plugin.contributionTml">

         <action label="Show TML" icon="icons/dexels_tml.gif"  tooltip="Shows this file in the viewer" 
               class="com.dexels.navajo.studio.script.plugin.actions.ShowTml"
               id="com.dexels.plugin.newAction2"/>
         <action label="Show java.." icon="icons/dexels_searchjava.gif"  tooltip="Shows the java file of this script, if it exists" 
               class="com.dexels.navajo.studio.script.plugin.actions.FindJavaSource"
               id="com.dexels.plugin.showJava"/>
         <action label="Show script.." icon="icons/dexels_searchxml.gif"  tooltip="Shows the xml file of this script, if it exists" 
               class="com.dexels.navajo.studio.script.plugin.actions.FindScript"
               id="com.dexels.plugin.showXml"/>
      </objectContribution>
   </extension>
 <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java"
            id="com.dexels.plugin.contributionTml">

         <action label="Show TML" icon="icons/dexels_tml.gif"  tooltip="Shows this file in the viewer" 
               class="com.dexels.navajo.studio.script.plugin.actions.ShowTml"
               id="com.dexels.plugin.newAction2"/>
         <action label="Show script.." icon="icons/dexels_searchxml.gif"  tooltip="Shows the xml file of this script, if it exists" 
               class="com.dexels.navajo.studio.script.plugin.actions.FindScript"
               id="com.dexels.plugin.showXml"/>
      </objectContribution>
   </extension>

   
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator markerType="com.dexels.plugin.tslproblemmarker" class="com.dexels.navajo.studio.eclipse.quickfix.TslFixGenerator"/>
   </extension>
   
    <extension id="tslproblemmarker" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
  		<super type="org.eclipse.core.resources.textmarker"/> 
          <attribute name="code" />
      <persistent value="true" />
   </extension>
   
 </plugin>
