<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" activate="activate" configuration-policy="require" deactivate="deactivate" enabled="true" immediate="true" name="navajo.logback">
   <implementation class="com.dexels.navajo.server.logback.LogbackConfigurator"/>
</scr:component>
