
.bodycenter {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: "Droid Sans",sans-serif;

}

.unlocked{
	position: absolute;
	right: 3em;
}

a  {
	text-decoration: none;
}

ul.operations {
	list-style: none outside none;

}

.operation {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 5px 0px 10px;
    padding: 0px;
}

.operation.HEAD {
	background-color: #eeeeec;
	border: 2px solid #888a85;
}

.operation.GET {
	background-color: #E7F0F7;
	border: 2px solid #C3D9EC;
}

.operation.POST {
	background-color: #e7f6ec;
	border: 2px solid #C3E8D1;
}

.operation.PUT {
	background-color: #F9F2E9;
	border: 2px solid #F0E0CA;
}

.operation.DELETE {
	background-color: #f5e8e8;
	border: 2px solid #e8c6c7;
}


li.operationHeader .header {
	display: inline-block;
	text-decoration: none;
}




li.operation .method {
	width: 50px;
	padding: 7px 1px 4px;
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	font-size: 0.7em;
	text-align: center;
}


li.operation .url {
	display: inline-block;
	padding-left: 10px;
	color: black;
	font-family: "Droid Sans",sans-serif;
	font-size: 1em;
	text-decoration: none;
}




li.operation .description {
	padding-top: 19px;
	padding-left: 10px;
/* 	float: left; */
	font-family: "Droid Sans",sans-serif;
	font-size: 0.8em;
	text-decoration: none;
}

li.operation .description.HEAD {
	color: #555753;
}

li.operation .description.GET {
	color: #0F6AB4;
}

li.operation .description.POST {
	color: #10A54A;
}

li.operation .description.PUT {
	color: #C5862B;
}

li.operation .description.DELETE {
	color: #a41e22;
}

h2 {
	font-weight: normal;
	font-size: 1.2em;
	display: inline-block;
	margin: 0.2em auto 0.2em;
}

h2.HEAD{
	color: #555753;
}

h2.GET{
	color: #0F6AB4;
}
h2.POST{
	color: #10A54A;
}
h2.PUT{
	color: #C5862B;
}
h2.DELETE{
	color: #a41e22;
}

li.operation .httpHEAD {
	background-color: #555753;
}

li.operation .httpGET {
	background-color: #0F6AB4;
}

li.operation .httpPOST {
	background-color: #10A54A;
	
}


li.operation .httpPUT {
	background-color: #C5862B;
	
}


li.operation .httpDELETE {
	background-color: #a41e22;
	
	
}



li.operation pre {
	background-color: white;
	width: 75%;
	padding: 10px;
	margin-left: 15px;
}



.outputFormatJSON {
	font-family: "Droid Sans",sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	color: #606060;
}

.outputFormatXML {
	font-size: 0.8em;
	text-decoration: none;
	color: #606060;
}


.errorcodeheader {
	margin-top: 50px;
}

.errorcodediv {
    padding-left: 40px;
    width: 95%;
}


.errorcodetable {
    border-collapse: collapse;
    font-size: smaller;
    width: 100%;
}

.errorcodetable thead tr {
	text-align: left;
	color: #666666;
	border-bottom:1pt solid black;
}
.errorcodetable thead th {
    text-align: inherit; /* NEEDED FOR IE*/
}
.errorcodetable tr {
	border-bottom:1pt solid #dddddd;
	
}
.errorcodetable tr > td {
	padding-top: 3px;
	
}

.errorcodetable td:nth-child(1) {  
	font-family: monospace;
}



.modelTable {
    border-collapse: collapse;
    font-size: smaller;
    width: 75%;
    margin: 20px;
}

.modelTable thead tr {
	text-align: left;
	color: #666666;
	border-bottom:1pt solid black;
}
.modelTable thead th {
    text-align: inherit; /* NEEDED FOR IE*/
}
.modelTable tr {
	border-bottom:1pt solid #dddddd;
	
}
.modelTable tr > td {
	padding-top: 3px;
}

.call-entity {
	display: inline;
}



.requestheader {
	padding: 8px 8px;
    background: rgba(255,255,255,.6);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.responseheader {
	padding: 8px 8px;
    background: rgba(255,255,255,.6);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button {
	cursor: pointer;

    font-size: 14px;
    font-weight: 700;
    padding: 5px 23px;
    transition: all .3s;
    border: 2px solid #888;
    border-radius: 4px;
    background: transparent;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    font-family: Titillium Web,sans-serif;
    color: #3b4151;
    
}


.entity-version{
	display:none;
	border-color: #4990e2;
	border-width: 0.2em;
	border-style: solid;
	font-size: small;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	float: right;
}


.tryentitybutton {
    outline: none;
    float: right;
    margin: 0px auto 10px auto;
    padding: 5px 23px;
}

.button.authorize {
    outline: none;
    float: right;
    margin: 0px auto 10px auto;
    padding: 5px 23px;
    color: #49cc90;
    border-color: #49cc90;
}

.authdialoginput {
	display: block;
}

.button.oauthauthorize {
    outline: none;
    margin: 20px auto 10px;
    padding: 5px 23px;
    color: #49cc90;
    border-color: #49cc90;
}

#setauth {
	 float: right;
}

.tryentitybutton.cancel {
	color: red;
}

.perform-call-entity {
	display: block;
	margin: 10px;
}
.callentitybutton {
 	animation: pulse 2s infinite;
    color: #fff;
    border-color: #4990e2;
    width: 100%;
    padding: 8px 40px;
}
.call-entityinput {
	width: 75%;
	min-height: 100px;
	margin-left: 15px;
    padding: 10px;
}

.propname {
	font-weight: 700;
	font-size: 12px;
}

.proptype {
	font-family: monospace;
	margin: 8px 0 8px;
}

.propname.required:after {
    content: "*Required";
    color: red; 
    font-size: 10px;
	font-family: monospace;
	margin-left: 4px;
}

.shell-body {
  margin: 5px;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #eaeaea;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
table th{
	padding:0 15px 0 15px;
}

table td{
	padding:0 15px 0 15px;
}

label.authdialog {
	display: block;
    margin: 0.15em 0;
}

hr.authdialog {
	margin: 1.5em 0 1.5em;
}

h2.authdialog {
	font-size: 2em;
	margin: 0.2em 0 1.4em;
}

.missinginput {
	border-color: #f93e3e;
	background-color: rgba(254, 235, 235, 0.4);
}

.loadertext {
	text-align: center;
	margin: 0 auto;
	font-size: 0.8em;
}
.noinput {
    font-family: "Droid Sans",sans-serif;
    font-size: 14px;
    margin: 19px 0 19px 10px;
    text-decoration: none;
    color: #3b4151;
} 

/* pulse stuff... */
.button.callentitybutton {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    color: #fff;
    border-color: #4990e2
}
@-webkit-keyframes pulse {
    0% {
        color: #fff;
        background: #4990e2;
        box-shadow: 0 0 0 0 rgba(73, 144, 226, .8)
    }
    70% {
        box-shadow: 0 0 0 5px rgba(73, 144, 226, 0)
    }
    to {
        color: #fff;
        background: #4990e2;
        box-shadow: 0 0 0 0 rgba(73, 144, 226, 0)
    }
}

