.bodycenter {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: "Droid Sans",sans-serif;

}

a  {
	text-decoration: none;
}

ul.operations {
	list-style: none outside none;

}

.operation {
    float: none;
    clear: both;
    overflow: hidden;
    display: block;
    margin: 5px 0px 10px;
    padding: 0px;
}

.operation.GET {
	background-color: #E7F0F7;
}

.operation.POST {
	background-color: #e7f6ec;
}

.operation.PUT {
	background-color: #F9F2E9;
}
=
.operation.DELETE {
	background-color: #f5e8e8;
}


.operationHeader.GET {
	border: 1px solid #C3D9EC;
}


.operationHeader.POST {
	border: 1px solid #C3E8D1;
}


.operationHeader.PUT {
	border: 1px solid #F0E0CA;
}


.operationHeader.DELETE {
	border: 1px solid  #e8c6c7;
}

li.operationHeader .header {
	display: inline-block;
	text-decoration: none;
}




li.operation .method {
	width: 50px;
	padding: 7px 1px 4px;
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	font-size: 0.7em;
	text-align: center;
}


li.operation .url {
	display: inline-block;
	padding-left: 10px;
	color: black;
	font-family: "Droid Sans",sans-serif;
	font-size: 1em;
	text-decoration: none;
}




li.operation .description {
	padding-top: 19px;
	padding-left: 10px;
/* 	float: left; */
	font-family: "Droid Sans",sans-serif;
	font-size: 0.8em;
	text-decoration: none;
}

li.operation .description.GET {
	color: #0F6AB4;
}

li.operation .description.POST {
	color: #10A54A;
}

li.operation .description.PUT {
	color: #C5862B;
}

li.operation .description.DELETE {
	color: #a41e22;
}

h2 {
	font-weight: normal;
	font-size: 1.2em;
}

h2.GET{
	color: #0F6AB4;
}
h2.POST{
	color: #10A54A;
}
h2.PUT{
	color: #C5862B;
}
h2.DELETE{
	color: #a41e22;
}


li.operation .httpGET {
	background-color: #0F6AB4;
	
}

li.operation .httpPOST {
	background-color: #10A54A;
	
}


li.operation .httpPUT {
	background-color: #C5862B;
	
}


li.operation .httpDELETE {
	background-color: #a41e22;
	
	
}



li.operation pre {
	background-color: white;
	width: 75%;
	padding: 10px;
	margin-left: 15px;
}



.outputFormatJSON {
	font-family: "Droid Sans",sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	color: #606060;
}

.outputFormatXML {
	font-size: 0.8em;
	text-decoration: none;
	color: #606060;
}


.errorcodeheader {
	margin-top: 50px;
}

.errorcodediv {
    padding-left: 40px;
    width: 95%;
}


.errorcodetable {
    border-collapse: collapse;
    font-size: smaller;
    width: 100%;
}

.errorcodetable thead tr {
	text-align: left;
	color: #666666;
	border-bottom:1pt solid black;
}
.errorcodetable thead th {
    text-align: inherit; /* NEEDED FOR IE*/
}
.errorcodetable tr {
	border-bottom:1pt solid #dddddd;
	
}
.errorcodetable tr > td {
	padding-top: 3px;
	
}

.errorcodetable td:nth-child(1) {  
	font-family: monospace;
}



.commentsTable {
    border-collapse: collapse;
    font-size: smaller;
    width: 75%;
    margin: 20px;
}

.commentsTable thead tr {
	text-align: left;
	color: #666666;
	border-bottom:1pt solid black;
}
.commentsTable thead th {
    text-align: inherit; /* NEEDED FOR IE*/
}
.commentsTable tr {
	border-bottom:1pt solid #dddddd;
	
}
.commentsTable tr > td {
	padding-top: 3px;
}
.commentsTable td:nth-child(1) {  
	font-family: monospace;
}