 <table class="modelTable responseTable">
	<thead>
		<tr>
			<th style="width: 300px;">Property</th>
            <th>Description</th>
		</tr>
	</thead>
	<tbody>
		{{MODEL_TABLE_ROWS}}
	</tbody>
</table>