<div class="requestheader">
	<h2 class="{{OP}} entityrequest"> Request </h2> 
	<div class="call-entity">
		<button class="callentitybutton button">Try it out</button>
	</div>
</div>
<div class="description {{OP}}"> {{DESCRIPTION}}</div>
{{ENTITY_REQUEST_BODY}}

<div class="perform-call-entity" style="display:none">
	<button method="{{OP}}" url="{{URL}}" class="docallentitybutton button">Execute</button>
</div>
<div class="shell-body" style="display:none">
	
</div>