<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Navajo Server"
            id="com.dexels.navajo.server.embedded">
      </category>
      <view
            name="Navajo Cockpit"
            icon="icons/sample.gif"
            category="com.dexels.navajo.server.embedded"
            class="com.dexels.navajo.server.embedded.views.ServerControlPanel"
            id="com.dexels.navajo.server.embedded.views.ServerControlPanel">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.dexels.navajo.server.embedded.views.ServerControlPanel">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.dexels.navajo.server.embedded.actionSet"
            label="Navajo Scripting"
            visible="true">
         <menu
               id="navajoScriptActionSet"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>

      </actionSet>
   </extension>








<extension point="org.eclipse.ui.popupMenus">
   <objectContribution adaptable="true" objectClass="org.eclipse.core.resources.IFile" nameFilter="*.tsl" id="com.dexels.plugin.popupMenuAdd">
            
        

      
            <action
               class="com.dexels.navajo.server.embedded.actions.RunScript"
               icon="icons/dexels_start.gif"
               id="com.dexels.navajo.server.embedded.actions.RunScript"
               label="&amp;Run navajo"
               tooltip="HRun script">
         </action>      
   </objectContribution>
</extension>





   <extension
         point="org.eclipse.ui.newWizards">
   </extension>

</plugin>
