<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Navajo Maven Target Platform: 3.3.578" sequenceNumber="3378">
<locations>
	<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://p2.dexels.com/eclipse/equinox4.9/"/>
		<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.6.0.v20180903-1343"/>
		<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.15.0.v20180827-1536"/>
		<unit id="org.eclipse.equinox.server.core.feature.group" version="1.7.0.v20180903-1546"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.15.0.v20180904-1442"/>
		<unit id="org.eclipse.equinox.server.p2.feature.group" version="1.5.0.v20180827-1235"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="http://p2.dexels.com/eclipse/3rdparty_3.3.578"/>
		<unit id="dexels-navajo-target.feature.group" version="3.3.578"/>
    	<unit id="bcpg" version="1.64.0"/>
    	<unit id="bcpkix" version="1.64.0"/>
    	<unit id="bcprov" version="1.64.0"/>
    	<unit id="com.dexels.appstore.ant" version="1.0.41"/>
    	<unit id="com.dexels.appstore.core" version="7.0.0"/>
    	<unit id="com.dexels.appstore.server" version="6.0.36"/>
    	<unit id="com.dexels.appstore.websocket" version="0.1.6.201609190858"/>
    	<unit id="com.dexels.hazelcast" version="6.0.4"/>
    	<unit id="com.dexels.hazelcast.kubernetes" version="6.0.2"/>
    	<unit id="com.dexels.immutable.api" version="3.3.2"/>
    	<unit id="com.dexels.immutable.impl" version="1.4.9"/>
    	<unit id="com.dexels.index.api" version="1.0.0.201608241244"/>
    	<unit id="com.dexels.kafka.impl.rx2" version="6.1.13"/>
    	<unit id="com.dexels.kafka.streams" version="2.1.10"/>
    	<unit id="com.dexels.kafka.streams.api" version="3.0.2"/>
    	<unit id="com.dexels.kafka.streams.sink.mongo" version="1.1.1"/>
    	<unit id="com.dexels.kafka.webapi" version="1.0.10"/>
    	<unit id="com.dexels.keystoreprovider" version="1.0.0.201711171136"/>
    	<unit id="com.dexels.log4j.server" version="1.0.12.201602171050"/>
    	<unit id="com.dexels.logback.redis" version="2.2.3"/>
    	<unit id="com.dexels.logstore.elastic" version="1.0.2.201709070843"/>
    	<unit id="com.dexels.navajo.webconsole.branding" version="1.0.15"/>
    	<unit id="com.dexels.oauth.api" version="27.0.0"/>
    	<unit id="com.dexels.oauth.generic.web" version="1.0.3"/>
    	<unit id="com.dexels.oauth.impl" version="2.1.5"/>
    	<unit id="com.dexels.oauth.web" version="3.3.23"/>
    	<unit id="com.dexels.osgi.bundlesync" version="1.0.28"/>
    	<unit id="com.dexels.pubsub.rx2.api" version="4.6.5"/>
    	<unit id="com.dexels.replication.api" version="12.3.5"/>
    	<unit id="com.dexels.replication.impl" version="8.0.3"/>
    	<unit id="com.dexels.replication.impl.json" version="5.2.8"/>
    	<unit id="com.dexels.replication.impl.protobuf" version="5.0.4"/>
    	<unit id="com.dexels.repository.api" version="10.0.3"/>
    	<unit id="com.dexels.repository.file" version="1.0.38"/>
    	<unit id="com.dexels.repository.git" version="4.0.45"/>
    	<unit id="com.dexels.repository.git.api" version="1.2.10"/>
    	<unit id="com.dexels.resourcebundle" version="2.0.3"/>
    	<unit id="com.dexels.server.mgmt.api" version="1.0.0.201606031246"/>
    	<unit id="com.dexels.server.mgmt.impl" version="1.0.11"/>
    	<unit id="com.diffplug.osgi.extension.sun.misc" version="0.0.0"/>
    	<unit id="com.fasterxml.aalto-xml" version="1.2.2"/>
    	<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.10.0"/>
    	<unit id="com.fasterxml.jackson.core.jackson-core" version="2.10.0"/>
    	<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.10.0"/>
    	<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml" version="2.10.0"/>
    	<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.10.0"/>
    	<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.10.0"/>
    	<unit id="com.google.code.findbugs.jsr305" version="1.3.9"/>
    	<unit id="com.google.errorprone.error_prone_annotations" version="2.0.18"/>
    	<unit id="com.google.gson" version="2.8.5"/>
    	<unit id="com.google.guava" version="23.0.0"/>
    	<unit id="com.google.j2objc.annotations" version="1.1.0"/>
    	<unit id="com.google.protobuf" version="3.10.0"/>
    	<unit id="com.googlecode.javaewah.JavaEWAH" version="1.1.6"/>
    	<unit id="com.hazelcast" version="3.10.2"/>
    	<unit id="com.ibm.icu" version="65.1.0"/>
    	<unit id="com.microsoft.sqlserver.mssql-jdbc" version="7.4.1"/>
    	<unit id="com.mysql.jdbc" version="5.1.45"/>
    	<unit id="com.nimbusds.nimbus-jose-jwt" version="5.10.0"/>
    	<unit id="com.oracle.jdbc.driver" version="11.2.33"/>
    	<unit id="com.sun.activation.javax.activation" version="1.2.0"/>
    	<unit id="com.sun.mail.javax.mail" version="1.6.1"/>
    	<unit id="com.vaadin" version="6.8.14"/>
    	<unit id="io.prometheus.simpleclient" version="0.8.1"/>
    	<unit id="io.prometheus.simpleclient_common" version="0.8.1"/>
    	<unit id="io.prometheus.simpleclient_hotspot" version="0.8.1"/>
    	<unit id="io.prometheus.simpleclient_httpserver" version="0.8.1"/>
    	<unit id="io.prometheus.simpleclient_pushgateway" version="0.8.1"/>
    	<unit id="io.reactivex.rxjava2.rxjava" version="2.2.11"/>
    	<unit id="io.swagger.annotations" version="1.5.20"/>
    	<unit id="javax.annotation-api" version="1.3.2"/>
    	<unit id="javax.el-api" version="3.0.0"/>
    	<unit id="javax.enterprise.cdi-api" version="2.0.0.SP1"/>
    	<unit id="javax.interceptor-api" version="1.2.2"/>
    	<unit id="javax.servlet-api" version="3.1.0"/>
    	<unit id="javax.transaction-api" version="1.3.0"/>
    	<unit id="javax.vecmath" version="1.5.2"/>
    	<unit id="javax.websocket-api" version="1.1.0"/>
    	<unit id="javax.websocket.javax.websocket-client-api" version="1.0.0"/>
    	<unit id="javax.ws.rs-api" version="2.1.0"/>
    	<unit id="javax.xml.soap-api" version="1.4.0"/>
    	<unit id="jaxb-api" version="2.3.1"/>
    	<unit id="joda-time" version="2.10.0"/>
    	<unit id="json" version="20180813.0.0"/>
    	<unit id="junit" version="4.13.0"/>
    	<unit id="lz4-java" version="1.3.0"/>
    	<unit id="net.bytebuddy.byte-buddy" version="1.10.5"/>
    	<unit id="net.bytebuddy.byte-buddy-agent" version="1.10.5"/>
    	<unit id="net.minidev.accessors-smart" version="1.2.0"/>
    	<unit id="net.minidev.json-smart" version="2.3.0"/>
    	<unit id="org.apache.aries.spifly.dynamic.bundle" version="1.2.3"/>
    	<unit id="org.apache.aries.util" version="1.1.3"/>
    	<unit id="org.apache.commons.codec" version="1.11.0"/>
    	<unit id="org.apache.commons.commons-compress" version="1.18.0"/>
    	<unit id="org.apache.commons.dbcp" version="1.4.0"/>
    	<unit id="org.apache.commons.email" version="1.5.0"/>
    	<unit id="org.apache.commons.fileupload" version="1.3.3"/>
    	<unit id="org.apache.commons.io" version="2.6.0"/>
    	<unit id="org.apache.commons.lang" version="2.6.0"/>
    	<unit id="org.apache.commons.lang3" version="3.7.0"/>
    	<unit id="org.apache.commons.logging" version="1.2.0"/>
    	<unit id="org.apache.commons.math3" version="3.6.1"/>
    	<unit id="org.apache.commons.net" version="3.6.0"/>
    	<unit id="org.apache.commons.pool" version="1.6.0"/>
    	<unit id="org.apache.commons.pool2" version="2.5.0"/>
    	<unit id="org.apache.commons.text" version="1.3.0"/>
    	<unit id="org.apache.felix.configadmin" version="1.9.14"/>
    	<unit id="org.apache.felix.eventadmin" version="1.5.0"/>
    	<unit id="org.apache.felix.fileinstall" version="3.6.4"/>
    	<unit id="org.apache.felix.inventory" version="1.0.6"/>
    	<unit id="org.apache.felix.log" version="1.2.0"/>
    	<unit id="org.apache.felix.metatype" version="1.2.2"/>
    	<unit id="org.apache.felix.scr" version="2.1.18"/>
    	<unit id="org.apache.felix.webconsole" version="4.3.16"/>
    	<unit id="org.apache.felix.webconsole.plugins.ds" version="2.1.0"/>
    	<unit id="org.apache.felix.webconsole.plugins.event" version="1.1.8"/>
    	<unit id="org.apache.felix.webconsole.plugins.memoryusage" version="1.0.10"/>
    	<unit id="org.apache.felix.webconsole.plugins.packageadmin" version="1.0.4"/>
    	<unit id="org.apache.felix.webconsole.plugins.scriptconsole" version="1.0.2"/>
    	<unit id="org.apache.httpcomponents.httpasyncclient" version="4.1.4"/>
    	<unit id="org.apache.httpcomponents.httpclient" version="4.5.10"/>
    	<unit id="org.apache.httpcomponents.httpcore" version="4.4.12"/>
    	<unit id="org.apache.pdfbox" version="1.7.1"/>
    	<unit id="org.apache.pdfbox.fontbox" version="1.7.1"/>
    	<unit id="org.apache.pdfbox.jempbox" version="1.7.1"/>
    	<unit id="org.apache.servicemix.bundles.ant" version="1.10.5.1"/>
    	<unit id="org.apache.servicemix.bundles.batik" version="1.7.0.3"/>
    	<unit id="org.apache.servicemix.bundles.bcel" version="5.2.0.4"/>
    	<unit id="org.apache.servicemix.bundles.javax-inject" version="1.0.0.3"/>
    	<unit id="org.apache.servicemix.bundles.jcip-annotations" version="1.0.0.2"/>
    	<unit id="org.apache.servicemix.bundles.jsch" version="0.1.55.1"/>
    	<unit id="org.apache.servicemix.bundles.jzlib" version="1.1.3.2"/>
    	<unit id="org.apache.servicemix.bundles.saaj-impl" version="1.5.1.1"/>
    	<unit id="org.apache.servicemix.bundles.xalan" version="2.7.2.3"/>
    	<unit id="org.apache.servicemix.bundles.xerces" version="2.11.0.1"/>
    	<unit id="org.apache.servicemix.bundles.xmlresolver" version="1.2.0.5"/>
    	<unit id="org.apache.servicemix.specs.saaj-api-1.3" version="2.2.0"/>
    	<unit id="org.apache.xbean.asm-util" version="4.13.0"/>
    	<unit id="org.apache.xbean.bundleutils" version="4.13.0"/>
    	<unit id="org.apache.xbean.finder" version="4.13.0"/>
    	<unit id="org.codehaus.mojo.animal-sniffer-annotations" version="1.14.0"/>
    	<unit id="org.eclipse.jetty.client" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.continuation" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.http" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.io" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.proxy" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.reactive.client" version="1.1.0"/>
    	<unit id="org.eclipse.jetty.security" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.server" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.servlet" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.servlets" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.util" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.api" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.client" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.common" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.javax.websocket" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.javax.websocket.server" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.server" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.websocket.servlet" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jetty.xml" version="9.4.22.v20191022"/>
    	<unit id="org.eclipse.jgit" version="5.4.0.201906121030-r"/>
    	<unit id="org.eclipse.jgit.archive" version="5.4.0.201906121030-r"/>
    	<unit id="org.eclipse.jgit.http.apache" version="5.4.0.201906121030-r"/>
    	<unit id="org.eclipse.jgit.http.server" version="5.4.0.201906121030-r"/>
    	<unit id="org.eclipse.jgit.lfs" version="5.4.0.201906121030-r"/>
    	<unit id="org.eclipse.jgit.lfs.server" version="5.4.0.201906121030-r"/>
    	<unit id="org.hamcrest.all" version="1.3.0"/>
    	<unit id="org.jvnet.mimepull" version="1.9.11"/>
    	<unit id="org.jvnet.staxex.stax-ex" version="1.8.1"/>
    	<unit id="org.mockito.mockito-core" version="3.2.4"/>
    	<unit id="org.mongodb.bson" version="3.10.2"/>
    	<unit id="org.mongodb.driver-async" version="3.10.2"/>
    	<unit id="org.mongodb.driver-reactivestreams" version="1.11.0"/>
    	<unit id="org.mongodb.mongo-java-driver" version="3.10.2"/>
    	<unit id="org.objectweb.asm" version="7.1.0"/>
    	<unit id="org.objectweb.asm.all" version="5.2.0"/>
    	<unit id="org.objectweb.asm.commons" version="7.1.0"/>
    	<unit id="org.objectweb.asm.tree" version="7.1.0"/>
    	<unit id="org.objectweb.asm.tree.analysis" version="7.1.0"/>
    	<unit id="org.objectweb.asm.util" version="7.1.0"/>
    	<unit id="org.objenesis" version="2.6.0"/>
    	<unit id="org.openstreetmap.jmapviewer" version="2.8.0"/>
    	<unit id="org.ops4j.pax.logging.pax-logging-api" version="1.11.2"/>
    	<unit id="org.ops4j.pax.logging.pax-logging-service" version="1.11.2"/>
    	<unit id="org.ops4j.pax.url.mvn" version="2.5.4"/>
    	<unit id="org.ops4j.pax.web.pax-web-api" version="7.3.5"/>
    	<unit id="org.ops4j.pax.web.pax-web-extender-whiteboard" version="7.3.5"/>
    	<unit id="org.ops4j.pax.web.pax-web-jetty" version="7.3.5"/>
    	<unit id="org.ops4j.pax.web.pax-web-runtime" version="7.3.5"/>
    	<unit id="org.ops4j.pax.web.pax-web-spi" version="7.3.5"/>
    	<unit id="org.osgi.service.jdbc" version="1.0.0.201505202023"/>
    	<unit id="org.osgi.util.function" version="1.1.0.201802012106"/>
    	<unit id="org.osgi.util.promise" version="1.1.1.201810101357"/>
    	<unit id="org.postgresql.jdbc42" version="42.2.0"/>
    	<unit id="org.reactivestreams.reactive-streams" version="1.0.2"/>
    	<unit id="org.scala-lang.scala-compiler" version="2.12.4.v20171010-220511-VFINAL-c2a5883"/>
    	<unit id="org.scala-lang.scala-library" version="2.12.4.v20171010-220511-VFINAL-c2a5883"/>
    	<unit id="org.scala-lang.scala-reflect" version="2.12.4.v20171010-220511-VFINAL-c2a5883"/>
    	<unit id="org.yaml.snakeyaml" version="1.24.0"/>
    	<unit id="osgi.promise" version="7.0.1.201810101357"/>
    	<unit id="redis.clients.jedis" version="2.9.1"/>
    	<unit id="slf4j.api" version="1.7.28"/>
    	<unit id="slf4j.simple" version="1.7.28"/>
    	<unit id="stax2-api" version="4.2.0"/>
	</location>
</locations>
</target>