<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Navajo Repo" sequenceNumber="2493">
    <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.0.v20150529-1857"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.0.v20150602-1417"/>
            <unit id="org.eclipse.equinox.server.core.feature.group" version="1.3.100.v20150529-1857"/>
            <unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.2.0.v20150519-1816"/>
            <repository location="http://repo.dexels.com/eclipse/equinox_mars"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.3.22.201711021538"/>
            <repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.3.22.v20171030"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jgit.feature.group" version="4.10.0.201712302008-r"/>
            <unit id="org.eclipse.jgit.http.apache.feature.group" version="4.10.0.201712302008-r"/>
            <unit id="org.eclipse.jgit.lfs.feature.group" version="4.10.0.201712302008-r"/>
            <repository location="http://download.eclipse.org/egit/updates/"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="com.dexels.thirdparty.feature.feature.group" version="1.11.17.RELEASE"/>
            <repository location="http://repo.dexels.com/eclipse/3rdparty_1.11.17"/>
        </location>
    </locations>
    <includeBundles>
        <plugin id="ch.qos.logback.classic"/>
        <plugin id="ch.qos.logback.core"/>
        <plugin id="com.dexels.appstore.ant"/>
        <plugin id="com.dexels.appstore.core"/>
        <plugin id="com.dexels.appstore.server"/>
        <plugin id="com.dexels.hazelcast"/>
        <plugin id="com.dexels.immutable.api"/>
        <plugin id="com.dexels.immutable.impl"/>
        <plugin id="com.dexels.index.api"/>
        <plugin id="com.dexels.kafka.impl.rx2"/>
        <plugin id="com.dexels.log4j.httpappender"/>
        <plugin id="com.dexels.log4j.server"/>
        <plugin id="com.dexels.logback.redis"/>
        <plugin id="com.dexels.mqtt.impl"/>
        <plugin id="com.dexels.oauth.api"/>
        <plugin id="com.dexels.oauth.impl"/>
        <plugin id="com.dexels.oauth.web"/>
        <plugin id="com.dexels.osgi.bundlesync"/>
        <plugin id="com.dexels.pubsub.rx2.api"/>
        <plugin id="com.dexels.replication.api"/>
        <plugin id="com.dexels.replication.impl"/>
        <plugin id="com.dexels.replication.impl.json"/>
        <plugin id="com.dexels.replication.impl.protobuf"/>
        <plugin id="com.dexels.repository.api"/>
        <plugin id="com.dexels.repository.file"/>
        <plugin id="com.dexels.repository.git"/>
        <plugin id="com.dexels.repository.git.api"/>
        <plugin id="com.dexels.resourcebundle"/>
        <plugin id="com.dexels.server.mgmt.api"/>
        <plugin id="com.dexels.server.mgmt.impl"/>
        <plugin id="com.dexels.sharedconfigstore"/>
        <plugin id="com.fasterxml.aalto-xml"/>
        <plugin id="com.fasterxml.jackson.core.jackson-annotations"/>
        <plugin id="com.fasterxml.jackson.core.jackson-core"/>
        <plugin id="com.fasterxml.jackson.core.jackson-databind"/>
        <plugin id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml"/>
        <plugin id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml"/>
        <plugin id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations"/>
        <plugin id="com.fasterxml.woodstox.woodstox-core"/>
        <plugin id="com.github.akarnokd.rxjava2-interop"/>
        <plugin id="com.google.guava"/>
        <plugin id="com.google.inject"/>
        <plugin id="com.google.protobuf"/>
        <plugin id="com.hazelcast"/>
        <plugin id="com.jcraft.jsch" version="0.1.53.v201508180515"/>
        <plugin id="com.mysql.jdbc"/>
        <plugin id="com.nimbusds.nimbus-jose-jwt"/>
        <plugin id="com.oracle.jdbc.driver"/>
        <plugin id="com.springsource.javax.transaction"/>
        <plugin id="com.vaadin"/>
        <plugin id="io.netty.buffer"/>
        <plugin id="io.netty.codec"/>
        <plugin id="io.netty.codec-http"/>
        <plugin id="io.netty.codec-http2"/>
        <plugin id="io.netty.common"/>
        <plugin id="io.netty.handler"/>
        <plugin id="io.netty.resolver"/>
        <plugin id="io.netty.transport"/>
        <plugin id="io.netty.transport-native-epoll"/>
        <plugin id="io.reactivex.rxjava"/>
        <plugin id="io.reactivex.rxjava-joins"/>
        <plugin id="io.reactivex.rxjava-string"/>
        <plugin id="io.reactivex.rxjava2.rxjava"/>
        <plugin id="io.reactivex.rxnetty-common"/>
        <plugin id="io.reactivex.rxnetty-http"/>
        <plugin id="io.reactivex.rxnetty-tcp"/>
        <plugin id="javaewah"/>
        <plugin id="javax.el.source"/>
        <plugin id="javax.inject"/>
        <plugin id="javax.servlet"/>
        <plugin id="lz4-java"/>
        <plugin id="net.minidev.accessors-smart"/>
        <plugin id="net.minidev.json-smart"/>
        <plugin id="org.apache.aries.jmx.api"/>
        <plugin id="org.apache.aries.jmx.core"/>
        <plugin id="org.apache.aries.jmx.whiteboard"/>
        <plugin id="org.apache.aries.proxy.api"/>
        <plugin id="org.apache.aries.proxy.impl"/>
        <plugin id="org.apache.aries.quiesce.api"/>
        <plugin id="org.apache.aries.util"/>
        <plugin id="org.apache.commons.beanutils"/>
        <plugin id="org.apache.commons.codec"/>
        <plugin id="org.apache.commons.compress" version="1.9.0"/>
        <plugin id="org.apache.commons.dbcp"/>
        <plugin id="org.apache.commons.email"/>
        <plugin id="org.apache.commons.fileupload"/>
        <plugin id="org.apache.commons.io"/>
        <plugin id="org.apache.commons.lang"/>
        <plugin id="org.apache.commons.logging"/>
        <plugin id="org.apache.commons.net"/>
        <plugin id="org.apache.commons.pool"/>
        <plugin id="org.apache.commons.pool2"/>
        <plugin id="org.apache.felix.bundlerepository"/>
        <plugin id="org.apache.felix.configadmin"/>
        <plugin id="org.apache.felix.eventadmin"/>
        <plugin id="org.apache.felix.fileinstall"/>
        <plugin id="org.apache.felix.framework"/>
        <plugin id="org.apache.felix.gogo.command" version="1.0.2"/>
        <plugin id="org.apache.felix.gogo.runtime" version="1.0.6"/>
        <plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
        <plugin id="org.apache.felix.gogo.shell" version="1.0.0"/>
        <plugin id="org.apache.felix.inventory"/>
        <plugin id="org.apache.felix.log"/>
        <plugin id="org.apache.felix.metatype"/>
        <plugin id="org.apache.felix.prefs"/>
        <plugin id="org.apache.felix.resolver"/>
        <plugin id="org.apache.felix.scr"/>
        <plugin id="org.apache.felix.servicediagnostics.plugin"/>
        <plugin id="org.apache.felix.shell"/>
        <plugin id="org.apache.felix.shell.remote"/>
        <plugin id="org.apache.felix.shell.tui"/>
        <plugin id="org.apache.felix.webconsole"/>
        <plugin id="org.apache.felix.webconsole.plugins.ds"/>
        <plugin id="org.apache.felix.webconsole.plugins.event"/>
        <plugin id="org.apache.felix.webconsole.plugins.memoryusage"/>
        <plugin id="org.apache.felix.webconsole.plugins.obr"/>
        <plugin id="org.apache.felix.webconsole.plugins.packageadmin"/>
        <plugin id="org.apache.felix.webconsole.plugins.scriptconsole"/>
        <plugin id="org.apache.felix.webconsole.plugins.upnp"/>
        <plugin id="org.apache.httpcomponents.httpasyncclient"/>
        <plugin id="org.apache.httpcomponents.httpclient" version="4.5.3"/>
        <plugin id="org.apache.httpcomponents.httpcore" version="4.4.6"/>
        <plugin id="org.apache.james.protocols.api"/>
        <plugin id="org.apache.james.protocols.netty"/>
        <plugin id="org.apache.james.protocols.smtp"/>
        <plugin id="org.apache.mina.core"/>
        <plugin id="org.apache.pdfbox"/>
        <plugin id="org.apache.pdfbox.fontbox"/>
        <plugin id="org.apache.pdfbox.jempbox"/>
        <plugin id="org.apache.servicemix.bundles.ant"/>
        <plugin id="org.apache.servicemix.bundles.aopalliance"/>
        <plugin id="org.apache.servicemix.bundles.batik"/>
        <plugin id="org.apache.servicemix.bundles.bcel"/>
        <plugin id="org.apache.servicemix.bundles.javax.mail"/>
        <plugin id="org.apache.servicemix.bundles.jcip-annotations"/>
        <plugin id="org.apache.servicemix.bundles.junit"/>
        <plugin id="org.apache.servicemix.bundles.jzlib"/>
        <plugin id="org.apache.servicemix.bundles.lucene"/>
        <plugin id="org.apache.servicemix.bundles.saaj-impl"/>
        <plugin id="org.apache.servicemix.bundles.xalan"/>
        <plugin id="org.apache.servicemix.bundles.xerces"/>
        <plugin id="org.apache.servicemix.bundles.xmlresolver"/>
        <plugin id="org.apache.servicemix.specs.activation-api-1.1"/>
        <plugin id="org.apache.servicemix.specs.saaj-api-1.3"/>
        <plugin id="org.apache.sshd.core"/>
        <plugin id="org.apache.tika.bundle"/>
        <plugin id="org.apache.tika.core"/>
        <plugin id="org.apache.tika.parsers"/>
        <plugin id="org.apache.xbean.bundleutils"/>
        <plugin id="org.apache.xbean.finder"/>
        <plugin id="org.eclipse.equinox.app"/>
        <plugin id="org.eclipse.equinox.cm"/>
        <plugin id="org.eclipse.equinox.common" version="3.7.0.v20150402-1709"/>
        <plugin id="org.eclipse.equinox.concurrent"/>
        <plugin id="org.eclipse.equinox.console"/>
        <plugin id="org.eclipse.equinox.console.ssh"/>
        <plugin id="org.eclipse.equinox.coordinator"/>
        <plugin id="org.eclipse.equinox.device"/>
        <plugin id="org.eclipse.equinox.ds"/>
        <plugin id="org.eclipse.equinox.event" version="1.3.100.v20140115-1647"/>
        <plugin id="org.eclipse.equinox.frameworkadmin"/>
        <plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
        <plugin id="org.eclipse.equinox.io"/>
        <plugin id="org.eclipse.equinox.ip"/>
        <plugin id="org.eclipse.equinox.launcher"/>
        <plugin id="org.eclipse.equinox.log"/>
        <plugin id="org.eclipse.equinox.metatype"/>
        <plugin id="org.eclipse.equinox.registry"/>
        <plugin id="org.eclipse.equinox.security"/>
        <plugin id="org.eclipse.equinox.security.macosx"/>
        <plugin id="org.eclipse.equinox.simpleconfigurator"/>
        <plugin id="org.eclipse.equinox.supplement"/>
        <plugin id="org.eclipse.equinox.util"/>
        <plugin id="org.eclipse.jetty.alpn.client"/>
        <plugin id="org.eclipse.jetty.alpn.server"/>
        <plugin id="org.eclipse.jetty.annotations"/>
        <plugin id="org.eclipse.jetty.client"/>
        <plugin id="org.eclipse.jetty.continuation" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.http" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.http2.client"/>
        <plugin id="org.eclipse.jetty.http2.client.http"/>
        <plugin id="org.eclipse.jetty.http2.common"/>
        <plugin id="org.eclipse.jetty.io" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.jmx"/>
        <plugin id="org.eclipse.jetty.osgi.httpservice"/>
        <plugin id="org.eclipse.jetty.proxy"/>
        <plugin id="org.eclipse.jetty.security" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.server" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.servlet" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.servlets"/>
        <plugin id="org.eclipse.jetty.util" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jetty.websocket.api"/>
        <plugin id="org.eclipse.jetty.websocket.client"/>
        <plugin id="org.eclipse.jetty.websocket.common"/>
        <plugin id="org.eclipse.jetty.websocket.javax.websocket"/>
        <plugin id="org.eclipse.jetty.websocket.javax.websocket.server"/>
        <plugin id="org.eclipse.jetty.websocket.server"/>
        <plugin id="org.eclipse.jetty.websocket.servlet"/>
        <plugin id="org.eclipse.jetty.xml" version="9.3.22.v20171030"/>
        <plugin id="org.eclipse.jgit"/>
        <plugin id="org.eclipse.jgit.archive"/>
        <plugin id="org.eclipse.jgit.http.apache"/>
        <plugin id="org.eclipse.jgit.lfs"/>
        <plugin id="org.eclipse.jgit.lfs.server"/>
        <plugin id="org.eclipse.osgi"/>
        <plugin id="org.eclipse.osgi.services"/>
        <plugin id="org.eclipse.osgi.util"/>
        <plugin id="org.eclipse.paho.client.mqttv3"/>
        <plugin id="org.freemarker.freemarker"/>
        <plugin id="org.h2"/>
        <plugin id="org.jboss.netty"/>
        <plugin id="org.jctools.core"/>
        <plugin id="org.jvnet.mimepull"/>
        <plugin id="org.jvnet.staxex.stax-ex"/>
        <plugin id="org.mongodb.driver-async"/>
        <plugin id="org.mongodb.driver-reactivestreams"/>
        <plugin id="org.mongodb.mongo-java-driver"/>
        <plugin id="org.objectweb.asm"/>
        <plugin id="org.objectweb.asm.commons"/>
        <plugin id="org.objectweb.asm.tree"/>
        <plugin id="org.openstreetmap.jmapviewer"/>
        <plugin id="org.ops4j.base.io"/>
        <plugin id="org.ops4j.base.lang"/>
        <plugin id="org.ops4j.base.monitors"/>
        <plugin id="org.ops4j.base.net"/>
        <plugin id="org.ops4j.base.spi"/>
        <plugin id="org.ops4j.base.util.property"/>
        <plugin id="org.ops4j.pax.configmanager"/>
        <plugin id="org.ops4j.pax.logging.pax-logging-api"/>
        <plugin id="org.ops4j.pax.logging.pax-logging-service"/>
        <plugin id="org.ops4j.pax.swissbox.core"/>
        <plugin id="org.ops4j.pax.swissbox.extender"/>
        <plugin id="org.ops4j.pax.swissbox.framework"/>
        <plugin id="org.ops4j.pax.swissbox.lifecycle"/>
        <plugin id="org.ops4j.pax.swissbox.optional.jcl"/>
        <plugin id="org.ops4j.pax.swissbox.property"/>
        <plugin id="org.ops4j.pax.swissbox.tracker"/>
        <plugin id="org.ops4j.pax.url.assembly"/>
        <plugin id="org.ops4j.pax.url.cache"/>
        <plugin id="org.ops4j.pax.url.classpath"/>
        <plugin id="org.ops4j.pax.url.commons"/>
        <plugin id="org.ops4j.pax.url.link"/>
        <plugin id="org.ops4j.pax.url.mvn"/>
        <plugin id="org.ops4j.pax.url.obr"/>
        <plugin id="org.ops4j.pax.url.reference"/>
        <plugin id="org.ops4j.pax.url.war"/>
        <plugin id="org.ops4j.pax.url.wrap"/>
        <plugin id="org.ops4j.pax.web.pax-web-api"/>
        <plugin id="org.ops4j.pax.web.pax-web-extender-whiteboard"/>
        <plugin id="org.ops4j.pax.web.pax-web-jetty"/>
        <plugin id="org.ops4j.pax.web.pax-web-runtime"/>
        <plugin id="org.ops4j.pax.web.pax-web-spi"/>
        <plugin id="org.postgresql.jdbc4"/>
        <plugin id="org.reactivestreams.reactive-streams"/>
        <plugin id="org.scala-lang.modules.scala-xml"/>
        <plugin id="org.scala-lang.scala-compiler"/>
        <plugin id="org.scala-lang.scala-library"/>
        <plugin id="org.scala-lang.scala-reflect"/>
        <plugin id="org.yaml.snakeyaml"/>
        <plugin id="pi4j-core"/>
        <plugin id="pi4j-service"/>
        <plugin id="redis.clients.jedis"/>
        <plugin id="slf4j.api"/>
        <plugin id="slf4j.simple"/>
        <plugin id="stax2-api"/>
    </includeBundles>
</target>
