<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Navajo Repo" sequenceNumber="1305">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="8.1.3.201305221702"/>
<repository location="http://repo.dexels.com/eclipse/jetty8"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.java7.feature.group" version="3.1.0.201310021548-r"/>
<unit id="org.eclipse.jgit.feature.group" version="3.1.0.201310021548-r"/>
<unit id="org.eclipse.jgit.pgm.feature.group" version="3.1.0.201310021548-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="3.1.0.201310021548-r"/>
<unit id="org.eclipse.jgit.pgm.source.feature.group" version="3.1.0.201310021548-r"/>
<repository location="http://repo.dexels.com/eclipse/egit"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.server.core.feature.group" version="1.3.0.v20140909-1633"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.100.v20140416-1649"/>
<repository location="http://repo.dexels.com/eclipse/equinox_luna_sr1"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.dexels.thirdparty.feature.feature.group" version="1.9.14.RELEASE"/>
<repository location="http://repo.dexels.com/eclipse/3rdparty_1.9.14"/>
</location>
</locations>
<includeBundles>
<plugin id="aQute.xray.plugin"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="com.dexels.appstore.ant"/>
<plugin id="com.dexels.appstore.core"/>
<plugin id="com.dexels.appstore.server"/>
<plugin id="com.dexels.hazelcast"/>
<plugin id="com.dexels.karaf.featuresync"/>
<plugin id="com.dexels.logback.redis"/>
<plugin id="com.dexels.oauth.api"/>
<plugin id="com.dexels.oauth.impl"/>
<plugin id="com.dexels.oauth.web"/>
<plugin id="com.dexels.osgi.bundlesync"/>
<plugin id="com.dexels.repository.api"/>
<plugin id="com.dexels.repository.file"/>
<plugin id="com.dexels.repository.git"/>
<plugin id="com.google.guava"/>
<plugin id="com.google.inject"/>
<plugin id="com.hazelcast"/>
<plugin id="com.jcraft.jsch" version="0.1.46.v201205102330"/>
<plugin id="com.jcraft.jzlib"/>
<plugin id="com.jogamp.jogl"/>
<plugin id="com.mysql.jdbc"/>
<plugin id="com.oracle.jdbc.driver"/>
<plugin id="com.springsource.javax.transaction"/>
<plugin id="com.springsource.org.json"/>
<plugin id="com.vaadin"/>
<plugin id="jackson-core-lgpl"/>
<plugin id="jackson-mapper-lgpl"/>
<plugin id="javaewah" version="0.7.9.v201401101600"/>
<plugin id="javax.inject"/>
<plugin id="javax.ws.rs.jsr311-api"/>
<plugin id="jline"/>
<plugin id="org.apache.aries.blueprint.api"/>
<plugin id="org.apache.aries.blueprint.cm"/>
<plugin id="org.apache.aries.blueprint.core"/>
<plugin id="org.apache.aries.jmx.api"/>
<plugin id="org.apache.aries.jmx.blueprint.api"/>
<plugin id="org.apache.aries.jmx.blueprint.core"/>
<plugin id="org.apache.aries.jmx.core"/>
<plugin id="org.apache.aries.jmx.whiteboard"/>
<plugin id="org.apache.aries.proxy.api"/>
<plugin id="org.apache.aries.proxy.impl"/>
<plugin id="org.apache.aries.quiesce.api"/>
<plugin id="org.apache.aries.util"/>
<plugin id="org.apache.camel.camel-ahc"/>
<plugin id="org.apache.camel.camel-blueprint"/>
<plugin id="org.apache.camel.camel-context"/>
<plugin id="org.apache.camel.camel-core"/>
<plugin id="org.apache.camel.camel-core-osgi"/>
<plugin id="org.apache.camel.camel-crypto"/>
<plugin id="org.apache.camel.camel-csv"/>
<plugin id="org.apache.camel.camel-eclipse"/>
<plugin id="org.apache.camel.camel-eventadmin"/>
<plugin id="org.apache.camel.camel-ftp"/>
<plugin id="org.apache.camel.camel-http"/>
<plugin id="org.apache.camel.camel-jdbc"/>
<plugin id="org.apache.camel.camel-jetty"/>
<plugin id="org.apache.camel.camel-mail"/>
<plugin id="org.apache.camel.camel-stream"/>
<plugin id="org.apache.commons.beanutils"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.compress" version="1.9.0"/>
<plugin id="org.apache.commons.dbcp"/>
<plugin id="org.apache.commons.email"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.commons.net"/>
<plugin id="org.apache.commons.pool"/>
<plugin id="org.apache.felix.bundlerepository"/>
<plugin id="org.apache.felix.configadmin"/>
<plugin id="org.apache.felix.dependencymanager"/>
<plugin id="org.apache.felix.dependencymanager.compat"/>
<plugin id="org.apache.felix.dependencymanager.runtime"/>
<plugin id="org.apache.felix.dependencymanager.shell"/>
<plugin id="org.apache.felix.deployment.rp.autoconf"/>
<plugin id="org.apache.felix.deploymentadmin"/>
<plugin id="org.apache.felix.eventadmin"/>
<plugin id="org.apache.felix.fileinstall"/>
<plugin id="org.apache.felix.framework"/>
<plugin id="org.apache.felix.framework.security"/>
<plugin id="org.apache.felix.gogo.command" version="0.12.0"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
<plugin id="org.apache.felix.http.api"/>
<plugin id="org.apache.felix.http.base"/>
<plugin id="org.apache.felix.http.bridge"/>
<plugin id="org.apache.felix.http.bundle"/>
<plugin id="org.apache.felix.http.jetty"/>
<plugin id="org.apache.felix.http.proxy"/>
<plugin id="org.apache.felix.http.whiteboard"/>
<plugin id="org.apache.felix.inventory"/>
<plugin id="org.apache.felix.log"/>
<plugin id="org.apache.felix.metatype"/>
<plugin id="org.apache.felix.prefs"/>
<plugin id="org.apache.felix.resolver"/>
<plugin id="org.apache.felix.scr"/>
<plugin id="org.apache.felix.servicediagnostics.plugin"/>
<plugin id="org.apache.felix.shell"/>
<plugin id="org.apache.felix.shell.remote"/>
<plugin id="org.apache.felix.shell.tui"/>
<plugin id="org.apache.felix.webconsole"/>
<plugin id="org.apache.felix.webconsole.plugins.ds"/>
<plugin id="org.apache.felix.webconsole.plugins.event"/>
<plugin id="org.apache.felix.webconsole.plugins.memoryusage"/>
<plugin id="org.apache.felix.webconsole.plugins.obr"/>
<plugin id="org.apache.felix.webconsole.plugins.packageadmin"/>
<plugin id="org.apache.felix.webconsole.plugins.scriptconsole"/>
<plugin id="org.apache.felix.webconsole.plugins.upnp"/>
<plugin id="org.apache.httpcomponents.httpclient" version="4.3.5"/>
<plugin id="org.apache.httpcomponents.httpcore" version="4.3.0"/>
<plugin id="org.apache.james.protocols.api"/>
<plugin id="org.apache.james.protocols.netty"/>
<plugin id="org.apache.james.protocols.smtp"/>
<plugin id="org.apache.karaf.deployer.blueprint"/>
<plugin id="org.apache.karaf.features.core"/>
<plugin id="org.apache.karaf.jaas.boot"/>
<plugin id="org.apache.karaf.jaas.command"/>
<plugin id="org.apache.karaf.jaas.config"/>
<plugin id="org.apache.karaf.jaas.modules"/>
<plugin id="org.apache.karaf.region.core"/>
<plugin id="org.apache.karaf.region.persist"/>
<plugin id="org.apache.karaf.shell.commands"/>
<plugin id="org.apache.karaf.shell.console"/>
<plugin id="org.apache.karaf.shell.ssh"/>
<plugin id="org.apache.karaf.shell.table"/>
<plugin id="org.apache.mina.core"/>
<plugin id="org.apache.oltu.commons.encodedtoken"/>
<plugin id="org.apache.oltu.commons.json"/>
<plugin id="org.apache.oltu.jose.jws"/>
<plugin id="org.apache.pdfbox"/>
<plugin id="org.apache.pdfbox.fontbox"/>
<plugin id="org.apache.pdfbox.jempbox"/>
<plugin id="org.apache.servicemix.bundles.ant"/>
<plugin id="org.apache.servicemix.bundles.aopalliance"/>
<plugin id="org.apache.servicemix.bundles.batik"/>
<plugin id="org.apache.servicemix.bundles.bcel"/>
<plugin id="org.apache.servicemix.bundles.commons-csv"/>
<plugin id="org.apache.servicemix.bundles.commons-io"/>
<plugin id="org.apache.servicemix.bundles.geronimo-javamail_1.4_provider"/>
<plugin id="org.apache.servicemix.bundles.javax.mail"/>
<plugin id="org.apache.servicemix.bundles.jsch"/>
<plugin id="org.apache.servicemix.bundles.junit"/>
<plugin id="org.apache.servicemix.bundles.lucene"/>
<plugin id="org.apache.servicemix.bundles.xalan"/>
<plugin id="org.apache.servicemix.bundles.xerces"/>
<plugin id="org.apache.servicemix.bundles.xmlresolver"/>
<plugin id="org.apache.servicemix.specs.activation-api-1.1"/>
<plugin id="org.apache.sshd.core"/>
<plugin id="org.apache.tika.bundle"/>
<plugin id="org.apache.tika.core"/>
<plugin id="org.apache.tika.parsers"/>
<plugin id="org.apache.xbean.bundleutils"/>
<plugin id="org.codehaus.jettison.jettison"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.console.ssh"/>
<plugin id="org.eclipse.equinox.coordinator"/>
<plugin id="org.eclipse.equinox.device"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.event" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.equinox.io"/>
<plugin id="org.eclipse.equinox.ip"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.log"/>
<plugin id="org.eclipse.equinox.metatype"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.security.macosx"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.supplement"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.jetty.ajp"/>
<plugin id="org.eclipse.jetty.annotations"/>
<plugin id="org.eclipse.jetty.client"/>
<plugin id="org.eclipse.jetty.continuation" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jetty.http" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jetty.io" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jetty.nosql"/>
<plugin id="org.eclipse.jetty.osgi.httpservice"/>
<plugin id="org.eclipse.jetty.security" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jetty.server" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jetty.servlet" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jetty.servlets"/>
<plugin id="org.eclipse.jetty.util" version="8.1.11.v20130520"/>
<plugin id="org.eclipse.jgit" version="3.6.0.201411121045-m1"/>
<plugin id="org.eclipse.jgit.archive"/>
<plugin id="org.eclipse.jgit.java7"/>
<plugin id="org.eclipse.jgit.pgm"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.freemarker.freemarker"/>
<plugin id="org.fusesource.jansi"/>
<plugin id="org.h2"/>
<plugin id="org.h2.jdbc.service"/>
<plugin id="org.igniterealtime.smack"/>
<plugin id="org.igniterealtime.smackx"/>
<plugin id="org.jboss.netty"/>
<plugin id="org.jgroups"/>
<plugin id="org.jledit.core"/>
<plugin id="org.kjkoster.zapcat"/>
<plugin id="org.mongodb.mongo-java-driver"/>
<plugin id="org.ops4j.base.io"/>
<plugin id="org.ops4j.base.lang"/>
<plugin id="org.ops4j.base.monitors"/>
<plugin id="org.ops4j.base.net"/>
<plugin id="org.ops4j.base.spi"/>
<plugin id="org.ops4j.base.util.property"/>
<plugin id="org.ops4j.pax.configmanager"/>
<plugin id="org.ops4j.pax.jdbc"/>
<plugin id="org.ops4j.pax.jdbc.derby"/>
<plugin id="org.ops4j.pax.jdbc.h2"/>
<plugin id="org.ops4j.pax.jdbc.mysql"/>
<plugin id="org.ops4j.pax.jdbc.postgresql"/>
<plugin id="org.ops4j.pax.logging.pax-logging-api"/>
<plugin id="org.ops4j.pax.logging.pax-logging-service"/>
<plugin id="org.ops4j.pax.swissbox.converter"/>
<plugin id="org.ops4j.pax.swissbox.core"/>
<plugin id="org.ops4j.pax.swissbox.extender"/>
<plugin id="org.ops4j.pax.swissbox.framework"/>
<plugin id="org.ops4j.pax.swissbox.lifecycle"/>
<plugin id="org.ops4j.pax.swissbox.optional.jcl"/>
<plugin id="org.ops4j.pax.swissbox.property"/>
<plugin id="org.ops4j.pax.swissbox.tracker"/>
<plugin id="org.ops4j.pax.url.assembly"/>
<plugin id="org.ops4j.pax.url.cache"/>
<plugin id="org.ops4j.pax.url.classpath"/>
<plugin id="org.ops4j.pax.url.commons"/>
<plugin id="org.ops4j.pax.url.dir"/>
<plugin id="org.ops4j.pax.url.link"/>
<plugin id="org.ops4j.pax.url.mvn"/>
<plugin id="org.ops4j.pax.url.obr"/>
<plugin id="org.ops4j.pax.url.reference"/>
<plugin id="org.ops4j.pax.url.war"/>
<plugin id="org.ops4j.pax.url.wrap"/>
<plugin id="org.ops4j.pax.web.pax-web-api"/>
<plugin id="org.ops4j.pax.web.pax-web-extender-whiteboard"/>
<plugin id="org.ops4j.pax.web.pax-web-jetty-bundle"/>
<plugin id="org.ops4j.pax.web.pax-web-jsp"/>
<plugin id="org.ops4j.pax.web.pax-web-runtime"/>
<plugin id="org.ops4j.pax.web.pax-web-spi"/>
<plugin id="org.osgi.service.obr"/>
<plugin id="org.postgresql.jdbc4"/>
<plugin id="org.scala-lang.modules.scala-xml"/>
<plugin id="org.scala-lang.scala-compiler"/>
<plugin id="org.scala-lang.scala-library"/>
<plugin id="org.scala-lang.scala-reflect"/>
<plugin id="osgi.cmpn"/>
<plugin id="osgi.enterprise"/>
<plugin id="slf4j.api"/>
<plugin id="slf4j.simple"/>
</includeBundles>
</target>
