<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/OSGiConnectionBroker"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="com.dexels.navajo.birt.push"/>
        <setEntry value="com.dexels.navajo.client.async"/>
        <setEntry value="com.dexels.navajo.function"/>
        <setEntry value="com.dexels.navajo.kml"/>
        <setEntry value="com.dexels.navajo.listeners.continuations"/>
        <setEntry value="com.dexels.navajo.osgi.console"/>
        <setEntry value="com.dexels.navajo.queuemanager"/>
        <setEntry value="com.dexels.navajo.swing.editor"/>
        <setEntry value="com.dexels.navajo.tipi"/>
        <setEntry value="com.dexels.navajo.tipi.mail"/>
        <setEntry value="com.dexels.navajo.tipi.rss"/>
        <setEntry value="com.dexels.navajo.tipi.ruby"/>
        <setEntry value="com.dexels.navajo.tipi.swing"/>
        <setEntry value="com.dexels.navajo.tipi.swing.application"/>
        <setEntry value="com.dexels.navajo.tipi.swing.client"/>
        <setEntry value="com.dexels.navajo.tipi.swing.cobra"/>
        <setEntry value="com.dexels.navajo.tipi.swing.deps"/>
        <setEntry value="com.dexels.navajo.tipi.swing.docking"/>
        <setEntry value="com.dexels.navajo.tipi.swing.editor"/>
        <setEntry value="com.dexels.navajo.tipi.swing.geo"/>
        <setEntry value="com.dexels.navajo.tipi.swing.mig"/>
        <setEntry value="com.dexels.navajo.tipi.swing.rich"/>
        <setEntry value="com.dexels.navajo.tipi.swing.rich.client"/>
        <setEntry value="com.dexels.navajo.tipi.swing.substance"/>
        <setEntry value="com.dexels.navajo.tipi.swing.swingx"/>
        <setEntry value="com.dexels.navajo.tipi.vaadin"/>
        <setEntry value="com.dexels.navajo.twitter"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.mysql.jdbc@default:default"/>
        <setEntry value="org.eclipse.equinox.ds@1:true"/>
        <setEntry value="org.eclipse.equinox.util@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.dexels.config.runtime@default:default"/>
        <setEntry value="com.dexels.navajo.adapters.binarystore@default:default"/>
        <setEntry value="com.dexels.navajo.adapters.eventemitter@default:default"/>
        <setEntry value="com.dexels.navajo.adapters.resource@default:default"/>
        <setEntry value="com.dexels.navajo.adapters.stream@default:default"/>
        <setEntry value="com.dexels.navajo.adapters@default:default"/>
        <setEntry value="com.dexels.navajo.api@default:default"/>
        <setEntry value="com.dexels.navajo.article@default:default"/>
        <setEntry value="com.dexels.navajo.authentication.api@default:default"/>
        <setEntry value="com.dexels.navajo.client.async.jetty@default:default"/>
        <setEntry value="com.dexels.navajo.client.impl.apache@default:default"/>
        <setEntry value="com.dexels.navajo.client.impl.javanet@default:default"/>
        <setEntry value="com.dexels.navajo.client.nql@default:default"/>
        <setEntry value="com.dexels.navajo.client.stream@default:default"/>
        <setEntry value="com.dexels.navajo.client@default:default"/>
        <setEntry value="com.dexels.navajo.compiler.tsl@default:default"/>
        <setEntry value="com.dexels.navajo.core@default:default"/>
        <setEntry value="com.dexels.navajo.dev.ant@default:default"/>
        <setEntry value="com.dexels.navajo.dev.console@default:default"/>
        <setEntry value="com.dexels.navajo.document.json@default:default"/>
        <setEntry value="com.dexels.navajo.document.stream@default:default"/>
        <setEntry value="com.dexels.navajo.document@default:default"/>
        <setEntry value="com.dexels.navajo.elasticsearch@default:default"/>
        <setEntry value="com.dexels.navajo.entity@default:default"/>
        <setEntry value="com.dexels.navajo.example.adapter@default:default"/>
        <setEntry value="com.dexels.navajo.example.listener@default:default"/>
        <setEntry value="com.dexels.navajo.fileuploadservlet@default:default"/>
        <setEntry value="com.dexels.navajo.function.pdf@default:default"/>
        <setEntry value="com.dexels.navajo.instance.factory@default:default"/>
        <setEntry value="com.dexels.navajo.listeners.external@default:default"/>
        <setEntry value="com.dexels.navajo.listeners.stream@default:default"/>
        <setEntry value="com.dexels.navajo.listeners@default:default"/>
        <setEntry value="com.dexels.navajo.mgmt@default:default"/>
        <setEntry value="com.dexels.navajo.proxy@default:default"/>
        <setEntry value="com.dexels.navajo.reactive.subscriber@default:default"/>
        <setEntry value="com.dexels.navajo.reactive@default:default"/>
        <setEntry value="com.dexels.navajo.resource.binarystore@default:default"/>
        <setEntry value="com.dexels.navajo.resource.http@default:default"/>
        <setEntry value="com.dexels.navajo.resource.jdbc.mssql@default:default"/>
        <setEntry value="com.dexels.navajo.resource.jdbc.mysql@default:default"/>
        <setEntry value="com.dexels.navajo.resource.jdbc.oracle@default:default"/>
        <setEntry value="com.dexels.navajo.resource.jdbc.postgresql@default:default"/>
        <setEntry value="com.dexels.navajo.resource.mail@default:default"/>
        <setEntry value="com.dexels.navajo.resource.sftp@default:default"/>
        <setEntry value="com.dexels.navajo.resource.swift@default:default"/>
        <setEntry value="com.dexels.navajo.resource@default:default"/>
        <setEntry value="com.dexels.navajo.scala.navajoscala@default:default"/>
        <setEntry value="com.dexels.navajo.scala.scriptcompiler@default:default"/>
        <setEntry value="com.dexels.navajo.test.remote@default:default"/>
        <setEntry value="com.dexels.navajo.tester.js@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.css.tkui@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.css@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.echo.client@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.echo@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.swing.charting@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.swing.colorpicker@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.swing.jxlayer@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.swing.pdf@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.vaadin.touch@default:default"/>
        <setEntry value="com.dexels.navajo.tipi.websocket@default:default"/>
        <setEntry value="com.dexels.navajo.utilities@default:default"/>
        <setEntry value="com.dexels.navajo.version@default:default"/>
        <setEntry value="com.dexels.navajo.webconsole.branding@default:false"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
