<fieldset  class="entity-version">
	<legend>Entity Version Support</legend>
		<div>
		<span>Request Specific Version<input type="checkbox" name="requestVersion" class="version-checkbox" value="requestVersion" checked></span><br>
	  	<label for="entityVersion">Request Version:</label>
	  	<input type="number" name="entityVersion" value="{{CURRENT_ENTITY_VERSION}}" min="0" step="1" class="version-input">
	  	<br>
	</div>
</fieldset>