<div class="requestbody">
	<table class="modelTable requestTable">
		<thead>
			<tr>
				<th style="width: 300px;">Property</th>
	            <th>Description</th>
			</tr>
		</thead>
		<tbody>
			{{MODEL_TABLE_ROWS}}
		</tbody>
	</table>
	<div class="perform-call-entity" style="display:none">
		<button method="{{OP}}" url="{{URL}}" class="callentitybutton button">Execute</button>
	</div>
</div>