<!DOCTYPE html>
<html>
<head>
<title>Navajo Entity API documentation</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/entityApi/css/style.css" type="text/css" rel="stylesheet"/>
<link href="/entityApi/css/prettify.css" type="text/css" rel="stylesheet" />
<link href="/entityApi/css/tingle.min.css" type="text/css" rel="stylesheet" />
<link href="/entityApi/css/rotate.css" type="text/css" rel="stylesheet" />



<script type="text/javascript" src="/entityApi/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/entityApi/js/prettify.js"></script>
<script type="text/javascript" src="/entityApi/js/tingle.min.js"></script>

<script type="text/javascript" src="/entityApi/js/dexels/entityapidoc.js"></script>
<script type="text/javascript" src="/entityApi/js/dexels/navajofeeds-json-parser.js"></script>

</head>


<body class=bodycenter>

    <h1>Entity API Documentation: {{ENTITY_PATH}}</h1>

	<div class="unlocked">
		<button id="authbutton" class="authorize button"
			<span>Authorize</span>
		</button>
	</div>

	<div class="authdialog" id="setauth" style="display:none"/>
		<table>
		<tr>
		<th><h2 class="authdialog header-fixed"> OAuth </h2></th>
		<th><h2 class="authdialog header-fixed" > Basic Auth </h2></th>
		<th><h2 class="authdialog header-fixed"> Custom </h2></th>
		</tr>
		<tr>
		<td>
		    <label class="authdialog" > Client id </label>
		    <input class="authdialoginput" name="clientid" type="text" id="clientid"/>
		    <label class="authdialog" > Scopes </label>
		    <input class="authdialoginput"  name="oauthscopes" type="text" id="oauthscopes" />
		    <button id="oauthflowbutton" class="oauthauthorize button">
		    		<span>Authorize</span>
		    </button>
			
	    </td>
	    <td>
	    		<label class="authdialog" > Username </label>
		    <input class="authdialoginput" name="bauth_username" type="text" id="bauth_username"/>
		    <label class="authdialog" > Password </label>
		    <input class="authdialoginput"  name="bauth_password" type="password" id="bauth_password" />
		    <label class="authdialog tenantinput" > Tenant </label>
		    <input class="authdialoginput tenantinput"  name="bauth_tenant" type="text" id="bauth_tenant" />
		    
		    <button id="bauthflowbutton" class="oauthauthorize button">
		    		<span>Authorize</span>
		    </button>
	    </td>
	    <td>
	    		<label class="authdialog" > Auth scheme </label>
		    <input class="authdialoginput" name="cauth_type" type="text" id="cauth_type" value="Bearer"/>
		    <label class="authdialog tenantinput" > Tenant </label>
		    <input class="authdialoginput tenantinput"  name="cauth_tenant" type="text" id="cauth_tenant" />
	    		<label class="authdialog" > Token </label> 
			<input class="authdialoginput"  name="cauth_token" type="text" id="cauth_token"/>
			<button id="customauthorizebutton" class="oauthauthorize button">
		    		<span>Authorize</span>
		    </button>
	    </td> 
	    </tr>
	    	</table>
	</div>

    <H2> Operations </h2>
    {{OPERATIONS}}

    <h2 class="errorcodeheader">Error codes</h2>
    <div class="errorcodediv">
        <table class="errorcodetable">
            <thead>
                <tr>
                    <th style="width: 200px;">HTTP Status Code</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>200</td>
                    <td>OK</td>
                </tr>
                <tr>
                    <td>304</td>
                    <td>Resource not modified</td>
                </tr>
                <tr>
                    <td>400</td>
                    <td>Bad Request - no valid input provided</td>
                </tr>
                <tr>
                    <td>401</td>
                    <td>Unauthorized</td>
                </tr>
                <tr>
                    <td>404</td>
                    <td>The requested entity is not found</td>
                </tr>
                <tr>
                    <td>405</td>
                    <td>Operation not supported</td>
                </tr>
                <tr>
                    <td>406</td>
                    <td>Output not acceptable - requested output format is not available</td>
                </tr>
                <tr>
                    <td>409</td>
                    <td>Conflict - Duplicate entity found on inserts</td>
                </tr>
                <tr>
                    <td>412</td>
                    <td>Etag error - wrong etag provided on PUT or DELETE operation - resource has changed</td>
                </tr>
                <tr>
                    <td>420</td>
                    <td>Input validation exception(s)</td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>Unrecoverable server error</td>
                </tr>
                <tr>
                    <td>602</td>
                    <td>Missing entity ID - the primary identifier fields of this entity are missing</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>


</html>