<table class="modelTable validationsTable">
	<thead>
		<tr>
			<th style="width: 300px;">Validation Code</th>
            <th>Description</th>
		</tr>
	</thead>
	<tbody>
		{{VALIDATION_ROWS}}
	</tbody>
</table>