<!DOCTYPE html>
<html data-ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Metadata Forms">
    <meta name="author" content="Dexels B.V., Ruben Kneppers">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-resource.js"></script>
    <script src="js/poulestand.js"></script>

    <link rel="stylesheet" href="css/poulestand.css">

    <title>Metadata Forms Poulestand</title>
</head>

<body>

  <div data-ng-controller="MetadataController" >

    <div data-ng-repeat="meta in metaData" class="resultwrapper" >

        <table>

            <tr class="trHeight">

                <td class="textLeft padding10 titleBar">Positie</td>
                <td class="textLeft w200 padding10 titleBar">Naam</td>
                <td class="textLeft padding10 titleBar">GW</td>
                <td class="textLeft padding10 titleBar">W</td>
                <td class="textLeft padding10 titleBar">G</td>
                <td class="textLeft padding10 titleBar">V</td>
                <td class="textLeft padding10 titleBar">DV</td>
                <td class="textLeft padding10 titleBar">DT</td>
                <td class="textLeft padding10 titleBar">Vrls.</td>
                <td class="textLeft padding10 titleBar">Pnt.</td>

            </tr>

            <tr data-ng-repeat="(key, value) in meta | orderBy:'positie':false">

                <td class="textLeft padding10">{{ value.positie }}</td>
                <td class="textLeft w200 padding10">{{ value.teamnaam }}</td>
                <td class="textLeft padding10 gespeeldewedstrijden">{{ value.gespeeldewedstrijden }}</td>
                <td class="textLeft padding10 gewonnen">{{ value.gewonnen }}</td>
                <td class="textLeft padding10 gelijk">{{ value.gelijk }}</td>
                <td class="textLeft padding10 verloren">{{ value.verloren }}</td>
                <td class="textLeft padding10 doelpuntenvoor">{{ value.doelpuntenvoor }}</td>
                <td class="textLeft padding10 doelpuntentegen">{{ value.doelpuntentegen }}</td>
                <td class="textLeft padding10 verliespunten">{{ value.verliespunten }}</td>
                <td class="textLeft padding10 punten">{{ value.punten }}</td>

            </tr>

        </table>

    </div>

  </div>

</body>

</html>