<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" activate="activate" immediate="true" name="navajo.entity.mapper">
   <implementation class="com.dexels.navajo.entity.EntityMapper"/>
   <reference bind="setNavajoConfig" cardinality="1..1" interface="com.dexels.navajo.server.NavajoConfigInterface" name="NavajoConfigInterface" policy="dynamic" unbind="clearNavajoConfig"/>
   <service>
      <provide interface="com.dexels.navajo.entity.EntityMapper"/>
      <provide interface="org.osgi.service.event.EventHandler" />
   </service>
   	<property name="event.topics" type="String">
		repository/change
	</property>
</scr:component>
