body {
    font-family: Helvetica,Arial;
    font-size: 12pt;
    background-color:#cecece;
}

input {
    width:250px;
    font-size:12pt;
    border: solid 1px #000000;
}

li {
    list-style:none;
}

input.ng-invalid {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

td {
    padding: 0px;
    margin: 0px;
}

table { 
    border-spacing: 0px;
    border-collapse: separate;
}

.resultwrapper {
    background-color:#FEFEFE;
    width:700px;
    text-align:center;
    padding:10px;
    border-radius:8px;
    margin:10px;
    margin-left: 40px;
}

.padding10 {
    padding-left: 15px;
    padding-right: 15px;
}

.textLeft {
    text-align: left;
}

.doelpuntenvoor, .gewonnen {
    color: lightgreen;
}

.verloren, .doelpuntentegen, .verliespunten {
    color: red;
}

.w200 {
    width: 200px;
}

.titleBar {
    font-weight: bold;
    vertical-align: text-top;
}

.trHeight {
    height: 30px;
}