/******************************************************************
  Cascading Style Sheet for Sporlink Web Services Documentation
  $Id$ 
*******************************************************************/

body { font-family: Courier, Helvetica, sans-serif; font-size: 14px; background-color: #8BAED4; } 

a.saIndex {
	color:navy;
	font-weight: bold;
	background-color: white;
	border: 1px solid #555555;
	padding: 5px;
	text-decoration: none;
}

div.saHeader {
	font-family: Verdana, Helvetica;
	font-size: 19pt;
	font-weight: bold;
	color: darkred;
	background-color: white;
	border: 1px solid #555555;
	padding-left: 5px;
}

div.saPanel {
	padding: 5px;  
	width: 1000px;
	background-color: #EEEEEE;
	border: 1px solid #555555;
	clear:both;
  }

.saPanel table {
  color: #777;
  background-color: #fff;
  border: 1px solid #555555;
  width: 1000px;
  padding: 4px;
  margin-top: 5px;
  }

th {
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	margin: 0px;
	font-family: Verdana, Helvetica;
	font-size: 10pt;
	text-align: left;
	color: navy;
	width:120px;
}

td {
	padding-top: 2px;
	padding-left: 3px;
	padding-bottom: 2px;
	padding-right: 3px;
	margin: 0px;
	font-family: Verdana, Helvetica;
	font-size: 10pt;
	text-align: left;
	color:#333333;
}

div.saMap { 
	border: dotted 1px #888888; 
	margin: 3px;
	padding: 5px;
	background-color: #fff;
}

div.saMessage { 
	border: solid 1px #888888; 
	margin: 3px;
	padding: 5px;
	background-color: #f6ffab;
}

p { font-family: Courier, Helvetica, sans-serif; font-size: 14px; }

a { font-family: Courier, Helvetica, sans-serif; font-size: 14px; text-decoration: underline;} 

a:hover { color: #000000; text-decoration: underline; } 

font.tag { font-family: Courier, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000080; }

font.condition { font-family: Courier, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: purple; }

font.attrib { font-family: Courier, Helvetica, sans-serif; font-size: 14px; color: #ff3600; }

font.value { font-family: Courier, Helvetica, sans-serif; font-size: 14px; color: #820000; }

font.comment { font-family: Verdana, Helvetica, sans-serif; font-size: 14px; color: #008000; font-style: italic }

code { color: #0000FF; }

blockquote { font-family: Verdana, Helvetica, sans-serif; font-size: 14px; 
             margin-left: 18px }

pre { 
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	border-left: thin solid blue; 
	padding-top: 5px; 
	padding-left: 5px; 
}
