<tml>
  <message name="server-configuration">
    <message name="plugin">
      <property name="defaultUser" value="aap"/>
      <property name="defaultPassword" value="noot"/>
    </message>
    <message name="paths">
      <property name="root" value="navajo-tester/auxilary"/>
      <!-- or, maybe for Win ... <property name="root" value="C:/projects/sportlink-serv/navajo-tester/auxilary"/> -->
      <property name="scripts" value="scripts"/>
      <property name="adapters" value="adapters"/>
      <property name="configuration" value="config"/>
      <property name="logging" value="/tmp"/>
      <property name="tmp" value="tmp"/>
      <property name="compiled-scripts" value="compiled"/>
    </message>
    <message name="maintenance-services">
      <property name="navajo_showusers" value="navajo_showusers.xml"/>
      <property name="navajo_showparameters" value="navajo_showparameters.xml"/>
      <property name="navajo_find_value" value="navajo_find_value.xml"/>
      <property name="navajo_logon" value="navajo_logon.xml"/>
    </message>
    <message name="special-users">
      <property name="beta" value="beta"/>
    </message>
    <message name="repository">
      <property name="class" value="com.dexels.navajo.server.SimpleRepository"/>
    </message>
    <message name="persistence-manager">
      <property name="class" value="com.dexels.navajo.persistence.impl.PersistenceManagerImpl"/>
    </message>
    <message name="logging">
      <property name="level" value="4"/>
      <property name="filename" value="navajolog"/>
    </message>
    <message name="parameters">
            <property name="compile_scripts" type="string" length="0" value="false" direction="in"/>
            <property name="hot_compile" type="string" length="0" value="false" direction="in"/>
     </message>
  </message>
  <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="R" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="/home/meichler/projects/sportlink-serv/navajo-tester/auxilary/log/navajo.log"/>
      <!-- or, maybe for Win ...<param name="File" value="C:/projects/sportlink-serv/navajo-tester/auxilary/log/navajo.log"/> -->
      <param name="MaxFileSize" value="100KB"/>
      <param name="MaxBackupIndex" value="6"/>
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      </layout>
    </appender>
    <appender name="SQL" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="/home/meichler/projects/sportlink-serv/navajo-tester/auxilary/log/sqlmap.log"/>
      <!-- or, maybe for Win ... <param name="File" value="C:/projects/sportlink-serv/navajo-tester/auxilary/log/sqlmap.log"/> -->
      <param name="MaxFileSize" value="100KB"/>
      <param name="MaxBackupIndex" value="6"/>
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      </layout>
    </appender>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
      </layout>
    </appender>
    <category name="org.apache.log4j.xml">
      <priority value="debug"/>
      <appender-ref ref="R"/>
    </category>
    <category name="com.dexels.navajo.adapter.SQLMap">
      <priority value="debug"/>
      <appender-ref ref="SQL"/>
    </category>
    <category name="com.dexels.sportlink.adapters.VersionedDatabaseMap">
      <priority value="debug"/>
      <appender-ref ref="SQL"/>
    </category>
    <root>
      <priority value="debug"/>
      <appender-ref ref="R"/>
    </root>
  </log4j:configuration>
</tml>
