<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>TipiServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<description></description>
		<param-name>repository</param-name>
		<param-value>http://spiritus.dexels.nl:41766/Tipi/</param-value>
	</context-param>
	<context-param>
		<description></description>
		<param-name>extensionRepository</param-name>
		<param-value>http://spiritus.dexels.nl:41766/Tipi/Extensions/</param-value>
	</context-param>
	<context-param>
		<description></description>
		<param-name>documentationRepository</param-name>
		<param-value>http://spiritus.dexels.nl:41766/Tipi/wiki/doku.php</param-value>
	</context-param>

	<context-param>
		<description></description>
		<param-name>developmentRepository</param-name>
		<param-value>http://spiritus.dexels.nl:41766/Tipi/Development/</param-value>
	</context-param>
	<context-param>
		<description></description>
		<param-name>defaultTemplate</param-name>
		<param-value>TemplateJnlpProject</param-value>
	</context-param>

	<context-param>
		<description></description>
		<param-name>appFolder</param-name>
		<param-value>/home/tipi_apps</param-value>
	</context-param>


	
	<context-param>
		<description></description>
		<param-name>serverTitle</param-name>
		<param-value>Spiritus at Dexels</param-value>
	</context-param>
	
	
	<servlet>
		<description></description>
		<display-name>TipiAdminServlet</display-name>
		<servlet-name>TipiAdminServlet</servlet-name>
		<servlet-class>com.dexels.navajo.tipi.TipiAdminServlet</servlet-class>
	</servlet>





	<servlet>
		<description></description>
		<display-name>JnlpDownloadServlet</display-name>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>DEBUG</param-value>
		</init-param>
		<init-param>
			<param-name>logPath</param-name>
			<param-value>jnlplog.txt</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TipiAdminServlet</servlet-name>
		<url-pattern>/TipiAdminServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<url-pattern>/Apps/*</url-pattern>
	</servlet-mapping>
	<!-- Define reference to the user database for looking up roles -->
	<resource-env-ref>
		<description>
      Link to the UserDatabase instance from which we request lists of
      defined role names.  Typically, this will be connected to the global
      user database with a ResourceLink element in server.xml or the context
      configuration file for the Manager web application.
    </description>
		<resource-env-ref-name>users</resource-env-ref-name>
		<resource-env-ref-type>org.apache.catalina.UserDatabase</resource-env-ref-type>
	</resource-env-ref>

	<!-- Define a Security Constraint on this Application -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTMLManger and Manager command</web-resource-name>
			<url-pattern>/TipiAdminServlet</url-pattern>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- NOTE:  This role is not present in the default users file -->
			<role-name>tipiappstore</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Tipi Manager Application</realm-name>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>
      The role that is required to log in to the Manager Application
    </description>
		<role-name>tipiappstore</role-name>
	</security-role>




</web-app>